cloud_id = "b1gkhe233ph48hkh31mdtno"
folder_id = "b1ghgvp2e3e23ennargvfujm4p9"
zone = "ru-central1-a"
image_id = "fd879m1poce23edpgfggplbg"
public_key_path = "~/.ssh/id_ed25519.pub"
subnet_id = "e9bafsjttje23e2gqetoe8mau"
service_account_key_file = "../../key.json"
token = "AQAAAABhXRusAATuwTDGSuQfCELe232e3kphMwedmO9ECbpo"
private_key = "~/.ssh/id_ed25519"
instance_count = "2"

s3_access_key            = "YCAJE2I1buU6EgZWwQXX-ntrS"
s3_secret_key            = "YCM7nhoN0VLYPjI6jclxsliiI6pfg-QZcDp7lZnt"
bucket_name              = "terraform-rb"
enable_provision         = true
